* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
header {
    background-image: url(istockphoto-1315260875-612x612.jpg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 2560px;
    min-width: 1349px;
    min-height: 500px;
    height: 100vh; 
}
.cabecalho {
    background-color: rgba(0, 0, 0, 0.726);
}

.nav-link {
    color: #fff; 
}

.titulo {
    color: #fff; 
}



@media screen and (max-width: 1336px) {
    header {
        background-size: auto;
    }
}

@media screen and (max-width: 1064px) {
    

}